@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
:root {
    font-size: 100%;
  }
  *{
    margin: 0;
  }
  
  
  .flex{
      display: flex;
      
  }

  .flex-body-content{
      display: flex;
      padding: 1rem;
      justify-content: space-around;
  }
  
  .container{
      gap: 30px;
      margin: 4rem;
      justify-content: space-evenly;
      flex-flow: row wrap;
      font-family: 'Times New Roman', Times, serif;
  }
  


.navigation{
    width: 100%;
    min-width: 300px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(218, 218, 218);
    color: rgb(17, 17, 17);
    padding: 0 20px 0 20px;
    height: 64px;
    
    justify-content: space-between;
  }

  .nav-container{
    gap: 30px;
    
    /* margin-top: 2rem; */
    margin-bottom: 3rem;
  }
  .nav-container-startsec{
    display: flex;
    align-items: center;
  }
  .nav-container-startsec > i{
    margin-right: 32px;
    color: rgb(24, 23, 23);
  }
  .nav-title{
    padding-left: 1rem;
    font-weight: 500;
  }
  .nav-container-endsec{
    display: flex;
    align-items: center;
    gap: 20px;
  }

 /* search bar  */

  input[type=text] {
    width: 25rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    border: 1.5px solid #555;
  }
.input-search{
    background-color: white;
    background-image: url('./src/searchicon.png') ;
    background-size: 2.3rem;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out;
    text-indent: 2rem;
    border-radius: 0.5rem;
}

.checkbox{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
  }

  .text-center{
    text-align: center !important;
  }


  /* card component css  */

  .card{
    
    max-width: 350px;
    border: 1px solid #f7f7f8;
    border-radius: 0.5rem;
    box-shadow:rgba(0,0,0,0.3)0px 3px 8px ;
    text-overflow: ellipsis;
    
}

.header img{
    width: 100%;
}
.card-content{
    flex-direction: column;
}

.card-content:hover{
    background-color: #f8f8f8;
}

.author-details{
    padding: 1.4rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.content{
    padding: 0 0.8rem 1.6rem 1.6rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.54);

}

.card-basic-w-h .content{
    padding: 1.6rem 1.6rem;
}

.footer{
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.footer button{
    color: #0346fcbd;
    font-size: 1.1rem;
    border:none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.2rem;
    cursor: pointer;
}


.footer .button-icon {
    width: 40%;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .footer .button-icon button {
    color: rgba(0, 0, 0, 0.6);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight: normal;
    
  }

  .header-standard {
    display: flex;
    background-color: #6200ee;
    color: white;
    padding: 2rem;
    font-size: 2rem;
  }


  /* rating bar  */

  .checked {
    color: orange;
  }

  .container-grid {
    display: grid;
    gap: 20px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
  }

  .card {
    background-color: rgb(255, 255, 255);
    
    padding: 2px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: rgb(19, 17, 17);
    max-height: 35rem;
  }

  .three-column-grid{
    grid-template-columns: repeat(3, 1fr);
  }

  #footer {
    padding: 1rem;
    background-color: rgb(218, 218, 218);
    text-align: center;
    margin-top: 6rem;
    height: 2.5rem;
}

.social-links {
    align-items: center;
    font-size: 1.5rem;
    margin-right: 1.8rem;
    color: black;
}

.h4 {
    align-items: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: -0.25rem;
    text-align: center;
    font-family: monospace;
    
    
  }

  a:link:active, a:visited:active {
    color: black;
  }

  a:link, a:visited {
    color: black;
    /* cursor:auto;  */
  }

  .no-ul{
    text-decoration: none;
  }

  .link-only{
    text-decoration:none;
    padding: 0.5rem 1rem;
    border:none;
    background-color: transparent;
    font-weight: 600;
    margin: 1rem;
  }